<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720720902206-438mqmivr2ijgk78me5bg3ftn54get75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720720902206-438mqmivr2ijgk78me5bg3ftn54get75</string>
	<key>API_KEY</key>
	<string>AIzaSyArheV7eKmQNLVS_wMywNyNMovsBOYtNIo</string>
	<key>GCM_SENDER_ID</key>
	<string>720720902206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.MZdoll.MyZzangDoll</string>
	<key>PROJECT_ID</key>
	<string>mzdoll-920ea</string>
	<key>STORAGE_BUCKET</key>
	<string>mzdoll-920ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720720902206:ios:c3a5d38f686ebeda11b96f</string>
</dict>
</plist>