<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021022896756-mjsr7heao0rpgscjdsore9mabph92r77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021022896756-mjsr7heao0rpgscjdsore9mabph92r77</string>
	<key>API_KEY</key>
	<string>AIzaSyAbdc9U5xLeUksbY8R-XcOP3NBwzHA1PlY</string>
	<key>GCM_SENDER_ID</key>
	<string>1021022896756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelion.Lab19EVCar</string>
	<key>PROJECT_ID</key>
	<string>lab19-3340a</string>
	<key>STORAGE_BUCKET</key>
	<string>lab19-3340a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021022896756:ios:51f5dc40784b1965844721</string>
</dict>
</plist>